[[extend 'layout.html']]
<div id="vue-target">
<section class="section">
    <div class="title">Tickets</div>
  </section>


  <section class="section">
    <div class="columns">
      <div class="column is-four-fifths">
        <div class="field">
          <div class="control">
            <input class="input" type="text" @input="filter_list" v-model="searchText" placeholder="Text input">
          </div>
        </div>
      </div>
      <div class="column">
        <span>
        <div class="button is-pulled-left">
          <i class="fa fa-search"></i>
        </div>
        <button v-if="page=='list'" @click.stop="add_ticket" class="button is-primary is-size-6 is-pulled-right">
          <i class="fa fa-plus fa-fw"></i>
        </button>
        </span>
      </div>
    </div>
  </section>

  <ticket-modal v-if="showModal" v-bind:ticket="selected_ticket"
                @submit="submitCallback" @cancel="close_modal">
  </ticket-modal>

  <section class="section">
    <div class="columns">
      <div class="column is-four-fifths">
        <div class="tile is-ancestor">
          <div class="tile is-vertical">
            <!-- This div contains each post -->
            <div v-for="t in tickets" class="tile is-child notification">
                <div class="content">
                  <p>{{t.ticket_text}}</p>
                </div>
                <div class="ticket-attrib">
                  <div class="thumbs is-size-4">
                    <span class="has-text-danger is-pulled-right" @click="delete_ticket(t._idx)">
                      <i class="fa fa-trash fa-fw"></i>
                    </span>
                    <span class="is-pulled-right" @click.stop="edit_ticket(t._idx)">
                      <i class="fa fa-cog fa-fw"></i>
                    </span>

                  </div>
                    <span class="has-text-info">
                        Status: {{t.ticket_status}}.
                    </span>
                    <span>
                        Priority: {{t.ticket_priority}}
                      </span>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_tickets_url = "[[=XML(get_tickets_url)]]";
  let add_tickets_url = "[[=XML(add_tickets_url)]]";
  let delete_tickets_url = "[[=XML(delete_tickets_url)]]";
  let edit_ticket_url = "[[=XML(edit_ticket_url)]]";
  // Complete with other URLs you need.
  let user_email = "[[=XML(user_email)]]";
  let username = "[[=XML(username)]]";
</script>
<script src="components/ticket_modal/ticket_modal.js"></script>
<script src="js/index.js"></script>
[[end]]
