[[extend 'layout.html']]
<div id="vue-target">
<section class="section">
    <div class="title">Tickets</div>
  </section>

  <section class="section">
    <div>
        <button v-if="page=='list'" @click.stop="add_ticket" class="button is-primary is-size-6">
          <i class="fa fa-plus fa-fw"></i>
        </button>
    </div>
  </section>

  <ticket-modal v-if="showModal" @cancel="close_modal" @confirm="submitCallback">
    <div class="field">
            <span class="subtitle">Title</span>
            <input type="text" v-model="add_ticket_title" class="input" placeholder="Enter new title here">
        </div>
        <div class="field">
            <span class="subtitle">Description</span>
            <textarea v-model="add_ticket_text" class="textarea is-fullwidth" placeholder="Enter new ticket here"></textarea>
        </div>
        <div class="field">
            <span class="subtitle">Priority</span>
            <div class="select">
                <select v-model="add_ticket_priority">
                    <option>Done Yesterday</option>
                    <option>High Priority</option>
                    <option>Meh</option>
                    <option>Low</option>
                </select>
            </div>
            <div class="select">
                <select v-model="add_ticket_status">
                    <option>To do</option>
                    <option>In Progress</option>
                    <option>Completed</option>
                </select>
            </div>
        </div>
    </ticket-modal>


  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <!-- This div contains each post -->
        <div v-for="t in tickets" class="tile is-child notification is-light">
          <div class="content">
            <h1 class="title">{{t.ticket_title}}</h1>
            <div>{{t.ticket_text}}</div>
            <div class="is-size-6 has-text-grey">{{t.ticket_author}}</div>
          </div>

          <div class="ticket-attrib">
            <div class="thumbs is-size-4">
              <span class="has-text-danger is-pulled-right" @click="delete_ticket(t._idx)">
                <i class="fa fa-trash fa-fw"></i>
              </span>
              <span class="is-pulled-right" @click.stop="edit_ticket(t._idx)">
                <i class="fa fa-cog fa-fw"></i>
              </span>
              <span class="has-text-info">
                  Created: Today
              </span>
              <span>
                  Priority: {{t.ticket_priority}}
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_tickets_url = "[[=XML(get_tickets_url)]]";
  let add_tickets_url = "[[=XML(add_tickets_url)]]";
  let delete_tickets_url = "[[=XML(delete_tickets_url)]]";
  let edit_ticket_url = "[[=XML(edit_ticket_url)]]";
  // Complete with other URLs you need.
  let user_email = "[[=XML(user_email)]]";
  let username = "[[=XML(username)]]";
</script>
<script src="js/index.js"></script>
[[end]]
