[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components/ticket_modal/ticket_modal.css')]]">
[[end]]

<div id="vue-target">
<section class="section">
  <div class="container">
    <div class="title">Tickets</div>
  </div>
</section>


  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="columns">
            <div class="column">
              <v-select multiple placeholder="Tag" v-model="selected_tags" :options="ticket_tags" v-on:input="filter_list"></v-select>
            </div>
            <div class="column">
              <v-select multiple placeholder="Progress" v-model="selected_progress" :options="status_strings" v-on:input="filter_list"></v-select>
            </div>
            <div class="column">
              <v-select multiple placeholder="Assignee" v-model="selected_users" :options="project_users" v-on:input="filter_list"></v-select>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field is-pulled-right">
            <div class="control has-icons-left">
              <span class="icon is-medium">
                <i class="fa fa-search"></i>
              </span>
              <input class="input" type="text" @input="filter_list" v-model="searchText" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ticket-modal v-if="showModal" v-bind:ticket="selected_ticket"
                v-bind:options="ticket_tags" v-bind:users="project_users"
                @submit="submitCallback" @cancel="close_modal">
  </ticket-modal>



  <!-- TODO: Samuel Schmidt 5 / 21 / 2020 move this into a vue component -->
  <section class="section">
    <div class="container has-background-light">
        <div class="section">
            <a @click.stop="add_ticket">
                <i class="fa fa-plus fa-fw"></i> Add a ticket ...
            </a>
        </div>
    <div class="section">
      <div class="box"  v-for="t in tickets">
        <div class="level" >
           <div class="level-left">
               <div class="level-item" style="max-width: 500px; word-wrap: break-word">
                   <a class="title" @click="redirect(t.id)">
                       <span>{{t.ticket_title}} #{{t.id}}</span>
                   </a>
               </div>
               <div class="level-item">
                   <span class="tag is-link" v-if="t.status == 1">
                   Not started
                   </span>
                   <span class="tag is-warning" v-if="t.status == 2">
                   In progress
                   </span>
                   <span class="tag is-success" v-if="t.status == 3">
                   Completed
                   </span>
               </div>
               <div class="level-item" v-for="tag in t.tag_list">
                   <span class="tag has-background-grey-lighter">
                       {{tag.tag_name}}
                   </span>
               </div>
            </div>
           <div class="level-right">
               <div class="level-item">
                   <div @click="togglePinStatus(t)" class="button" v-bind:class="{'is-success': t.pinned, 'is-danger': !t.pinned}">
                       <i class="fa fa-thumb-tack"></i>
                   </div>
               </div>
           </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_tickets_url = "[[=XML(get_tickets_url)]]";
  let add_tickets_url = "[[=XML(add_tickets_url)]]";
  let delete_tickets_url = "[[=XML(delete_tickets_url)]]";
  let edit_ticket_url = "[[=XML(edit_ticket_url)]]";
  let add_ticket_tag_url = "[[=XML(add_ticket_tag_url)]]";
  let get_tags_url = "[[=XML(get_tags_url)]]";
  let ticket_details_url = "[[=XML(ticket_details_url)]]";
  let get_pinned_tickets_url = "[[=XML(get_pinned_tickets_url)]]";
  let get_users_url = "[[=XML(get_users_url)]]";
  let pin_ticket_url = "[[=XML(pin_ticket_url)]]";
  let tag_id = "[[=XML(tag_id)]]";
  // Complete with other URLs you need.
  let user_email = "[[=XML(user_email)]]";
  let username = "[[=XML(username)]]";
</script>
<script src="js/vue-select.min.js"></script>
<script src="components/ticket_modal/ticket_modal.js"></script>
<script src="js/luxon.min.js"></script>
<script src="js/ticket.js"></script>
[[end]]
