[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components/ticket_modal/ticket_modal.css')]]">
[[end]]

<div id="vue-target">

    <ticket-modal v-if="show_modal" v-bind:ticket="new_ticket"
                  v-bind:options="tag_options" v-bind:users="possible_users"
                  @submit="add_ticket" @cancel="close_modal">
    </ticket-modal>
    <section class="section">
        <div class="container">
            <div class="level">
               <div class="level-left">
                   <div class="level-item" style="word-wrap: break-word">
                       <span class="title" style="max-width: 500px; word-wrap: break-word">
                           {{title}} #{{ticket_id}}
                       </span>
                   </div>
                   <div class="level-item">
                       <span class="tag" :class="color_class[status_strings.indexOf(status)]">
                           {{status}}
                       </span>
                   </div>
               </div>
                <div class="level-right">
                   <div class="level-item" v-if="!edit && editable" >
                       <button class="button is-success" @click="edit = true">Edit</button>
                   </div>
                    <div class="level-item" v-if="edit">
                        <a @click="cancel_edit">Cancel</a>
                    </div>
                    <div class="level-item" v-if="edit">
                        <button class="button is-success" @click="submit_edit">Save Changes</button>
                    </div>
                </div>
            </div>
            <section style="border-bottom: darkgray 1px solid;"></section>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns has-background-light">
                <div class="column is-three-quarters">
                   <div class="box">
                       <div class="columns" style="border-bottom: darkgray 1px solid; padding-bottom: 10px;">
                           <div class="column is-half">
                               <span class="subtitle">Tags</span>
                               <v-select class="has-background-white" v-if="!edit" multiple placeholder="Tags"
                                         disabled
                                         v-model="selected_tags"
                                         :options="tag_options"></v-select>
                               <v-select class="has-background-white" v-if="edit" multiple placeholder="Tags"
                                         v-model="selected_tags"
                                         :options="tag_options"></v-select>
                           </div>
                           <div class="column">
                               <span class="subtitle">Due Date</span>
                               <div v-if="!edit && (!due_date || due_date.length === 0)">No Date Selected</div>
                               <div class="field" v-if="edit || (due_date && due_date.length > 0)">
                                   <input class="input" type="date" placeholder="mm / dd / yyyy" :disabled = "!edit"
                                          :value="due_date" @input="due_date = $event.target.value">
                               </div>
                           </div>
                       </div>
                       <span class="subtitle">Description</span>
                       <div v-if="!edit" style="padding-bottom: 10px; word-wrap: break-word;">
                           {{description}}
                       </div>
                       <textarea  v-if="edit" v-model="description" class="textarea"></textarea>
                   </div>
                   [[=comments]]
                </div>
                <div class="column">
                    <div style="border-bottom: darkgray 1px solid">
                        <div class="level" >
                            <div class="level-left">
                                <div class="level-item"><span>Completion</span></div>
                            </div>
                        </div>
                        <progress class="progress" :value="progress" max="1"></progress>
                        <br>
                    </div>
                    <br>
                    <div style="border-bottom: darkgray 1px solid">
                        <div class="level" >
                            <div class="level-left">
                                <div class="level-item"><span>Progress</span></div>
                            </div>
                        </div>
                        <p class="is-size-6 has-text-centered">
                            <v-select class="has-background-white" :clearable="false" v-model="current_status" :options="status_strings" v-on:input="change_status"></v-select>
                        </p>
                        <br>
                    </div>
                    <br>

                    <div style="border-bottom: darkgray 1px solid">
                        <div class="level" >
                            <div class="level-left">
                                <div class="level-item">
                                    Assignee
                                </div>
                            </div>

                        </div>
                        <v-select class="has-background-white" v-model="assigned" :disabled="!editable" :options="possible_users" @input="select_user"></v-select>
                        <br>
                    </div>
                    <br>

                    <div style="border-bottom: darkgray 1px solid">
                        <div class="level" >
                            <div class="level-left">
                                <div class="level-item"><span>Subtickets</span></div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                <a @click.stop="pre_add"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div v-for="t in ticket.sub_tickets" style="padding-bottom: 10px;">
                            <div class="box has-background-white is-size-6 is-fullwidth has-text-left" @click="redirect_ticket(t.id)">
                                 {{t.ticket_title}} #{{t.id}}
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="level">
                        <span class="level-left">
                            <span class="level-item">
                               <a class="has-text-danger" v-if="!delete_status && editable" @click="delete_status = true">
                                   Delete Ticket
                               </a>
                               <button class="button is-danger" v-if="delete_status" @click="delete_ticket">
                                  Confirm
                               </button>
                            </span>
                            <span class="level-item">
                               <a v-if="delete_status" @click="delete_status = false">
                                   Cancel
                               </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
</div>

[[block page_scripts]]
<script>
   let get_ticket_by_id_url="[[=XML(get_ticket_by_id_url)]]";
   let add_tickets_url="[[=XML(add_tickets_url)]]";
   let edit_ticket_url="[[=XML(edit_ticket_url)]]";
   let delete_tickets_url="[[=XML(delete_tickets_url)]]";
   let tickets_details_url="[[=XML(tickets_details_url)]]";
   let ticket_page_url="[[=XML(ticket_page_url)]]";
   let update_progress_url="[[=XML(update_progress_url)]]";
   let get_all_tags="[[=XML(get_all_tags)]]";
   let get_all_progress="[[=XML(get_all_progress)]]";
   let get_users_by_tag_list_url="[[=XML(get_users_by_tag_list_url)]]";
   let assign_user_url = "[[=XML(assign_user_url)]]";
   let current_user = "[[=XML(user)]]";
   let get_ticket_completion_url = "[[=XML(get_ticket_completion_url)]]";
</script>

<script src="js/vue-select.min.js"></script>
<script src="js/luxon.min.js"></script>
<script src="js/ticket_details.js"></script>
<script src="components/ticket_modal/ticket_modal.js"></script>
<script src="components/comment/comment.js"></script>
[[end]]