<div id="ticket-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" v-click-outside="cancel_modal">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" @click="$emit('failure')"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" @click="$emit('success')">Save changes</button>
      <button class="button" @click="$emit('failure')">Cancel</button>
    </footer>
  </div>
</div>
